body{ 
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right, #cb232c, #02dec1);
}

.menu{
  list-style: none;
  padding: 0;
  background: #f50000;
  width: 90%;
  max-width: 1000px;
  margin: 250px;
  text-align: center;
  
}
h1{
color: aqua;
text-align: center;



}
.menu li a{
  text-decoration: none;
  background-image: url(welcome.png);
  color: white;
  padding: 20px;
  display: block;

}
.menu li{
  display: inline-table;
  text-align: center;
}
.menu li a:hover{
  background: #0baa20;
}
