*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    body{
        background: #222831;

        .conedor_general{
            background: #29303b;
            font-family: 'Open Sans', sans-serif;
            margin: 0 auto;
            
        }

    }

}

